<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
  <div class="item active">
    <img src="https://images-na.ssl-images-amazon.com/images/G/01/US-hq/2018/img/Books/XCM_1099033_Manual_1500x300_1099033_us_books_mar2018_vib_18_1500x300_jpg_Mar2018_VIB.jpg">
  </div>
  <div class="item">
    <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2018/TPR/FebruaryBiscuit2/VX-1487-TPR_Biscuit2_Black_GW-Hero-Desktop-1500x300-1X._CB487343090_.jpg">
  </div>
  <div class="item">
    <img src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2018/EDITORIAL/SPRING_1/GATEWAY/DESKTOP/HERO_M_S_SpringBoots_1x._CB487353696_.jpg">
  </div>
</div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 
<div class="container-fluid bg-3 text-center">    
  <h3>List Books</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <div class="thumbnail">
        <img alt="Tôi là gay" title="Tôi là gay" src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/10544.jpg?v=2&amp;w=200&amp;h=292">
        <p><strong>Tôi là gay</strong></p>
        <p>Charles Dickens</p>
        <button class="btn btn-success">Chi tiết</button>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="thumbnail">
        <img alt="Tôi đã tập hôn như thế nào? (Phần 5)" title="Tôi đã tập hôn như thế nào? (Phần 5)" src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/7320.jpg?v=2&amp;w=200&amp;h=292">
        <p><strong>Tôi đã tập hôn như thế nào?</strong></p>
        <p>William Makepeace</p>
        <button class="btn btn-success">Chi tiết</button>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="thumbnail">
        <img alt="Để xây dựng doanh nghiệp hiệu quả" title="Để xây dựng doanh nghiệp hiệu quả" src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/4214.jpg?v=2&amp;w=200&amp;h=292">
        <p><strong>Để xây dựng doanh nghiệp hiệu quả</strong></p>
        <p>Fyodor Mikhailovich</p>
        <button class="btn btn-success">Chi tiết</button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/11445.jpg?v=2&amp;w=200&amp;h=292" alt="Ong gia va bien ca" title="Ong gia va bien ca">
        <p><strong>Ông già và biển cả</strong></p>
        <p>Ernest Hemingway</p>
        <button class="btn btn-success">Chi tiết</button>
      </div>
    </div>
  </div>
</div><br>
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/11341.jpg?v=2&amp;w=200&amp;h=292" alt="Khong gia dinh" title="Khong gia dinh">
        <p><strong>Không gia đình</strong></p>
        <p>Hector Malot</p>
        <button class="btn btn-success">Chi tiết</button>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="thumbnail">
        <img src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/16725.jpg?v=1&amp;w=200&amp;h=292" alt="So tay ly thuyet va thiet ke tau thuy - Phan 3" title="So tay ly thuyet va thiet ke tau thuy - Phan 3">
        <p><strong>Sổ tay lý thuyết và thiết kế tàu thủy</strong></p>
        <p>Trần Công Nghị</p>
        <button class="btn btn-success">Chi tiết</button>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="thumbnail">
        <img src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/17049.jpg?v=1&amp;w=200&amp;h=292" alt="Tedbooks - Tuong lai cua kien truc" title="Tedbooks - Tuong lai cua kien truc">
        <p><strong>Tedbooks - Tương lai của kiến trúc</strong></p>
        <p>Marc Kushner</p>
        <button class="btn btn-success">Chi tiết</button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
        <img src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/14627.jpg?v=2&amp;w=200&amp;h=292" alt="Tuyet mat trong buong lai" title="Tuyet mat trong buong lai">
        <p><strong>Tuyệt mật trong buồng lái</strong></p>
        <p>Patrick mdith</p>
        <button class="btn btn-success">Chi tiết</button>
      </div>
    </div>
  </div>
  <!-- <ul class="pagination">
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">8</a></li>
    <li><a href="#">9</a></li>
  </ul> --> 
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul> 
</div><br><br>
