# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 31cb683bdaac891070742ebe537849e97f6fc2b67e58121c9d499d350d089feb588c20e57aa97eca5acb0d0813593f3e79676b910a8d6f924e1d2ab00051d05f

test:
  secret_key_base: 9c6a9b2cfc774a2afb32ba520d821f8224eaa2a4116743777493bf90322c1dbc2b743690f766e8e5c26b5a0567511e0019ca5fee598637a4efceec2398f0bf5e

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
