@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* header */
.navbar-brand {
  float: left;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar-inverse {
  background-color: $white;
  border-color: $iron;
}

.navbar-form .input-group > .form-control {
  width: 200%;
  margin-left: 100px;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: 396px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: $midnight-blue;
  background-color: transparent;
}

.col-md-6 {
  margin-top: 100px;
  margin-bottom: 500px
}

#logo {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 0px;
}

#logo:hover {
  text-decoration: none;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 55px;
  padding-right: 55px;
}

p {
  text-align: justify;
}

.pagination {
  float: center;
}

#footer {
  background-color: $gray;
  margin-top: 60px;
  padding-top: 20px;

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 55px;
    }
  }
}

#sidenav {
  background-color: $white;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid $gray;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#show_user{
  margin-bottom: 100px;
}

.row.content {
  height: 550px;
}

.sidenav {
  background-color: $gray;
  height: 100%;
  width: 15%;
}

@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}

#management {
  margin-top: 100px;
}

.dashboard {
  width: 85%;
}

/* Admin */
#admin-image-book {
  border: 1px solid $gray;
  float: left;
  margin: 5px;
  width: 80px;
}

.table-title {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.add-book {
  float: right;
}

