<% provide :title, t(".list") %>

<div class="container-fluid" id="management">
  <div class="row content">
    <%= render "layouts/sidenav" %>
    <div class="dashboard col-sm-9">
      <div class="well">
        <%= render "borrow" %>
      </div>
    </div>
  </div>
</div>
